@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    overflow-x: hidden;
}

body {
    caret-color: transparent;
}

input,
textarea,
[contenteditable="true"] {
    caret-color: auto;
}

@media (max-width: 768px) {
    font-size: 50px;
}

@media (max-width: 412px) {
    font-size: 14px;
}

@layer base {
    .text-outline-1 {
        text-shadow: 1px 1px 0 #8c52ff, -1px -1px 0 #8c52ff, 1px -1px 0 #8c52ff, -1px 1px 0 #8c52ff;
    }

    .text-outline-2 {
        text-shadow: 2px 2px 0 #8c52ff, -2px -2px 0 #8c52ff, 2px -2px 0 #8c52ff, -2px 2px 0 #8c52ff;
    }
}