@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

@layer base {
    .text-outline-1 {
        text-shadow: 1px 1px 0 #8c52ff, -1px -1px 0 #8c52ff, 1px -1px 0 #8c52ff, -1px 1px 0 #8c52ff;
    }

    .text-outline-2 {
        text-shadow: 2px 2px 0 #8c52ff, -2px -2px 0 #8c52ff, 2px -2px 0 #8c52ff, -2px 2px 0 #8c52ff;
    }
}